@keyframes floatDots {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 0.6;
    }
    50% {
      transform: translateY(-30px) translateX(10px);
      opacity: 0.3;
    }
    100% {
      transform: translateY(0) translateX(0);
      opacity: 0.6;
    }
  }
  
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: -1;
  }
  
  .dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #dc1464;
    border-radius: 50%;
    box-shadow: 0 0 15px #dc1464;
    opacity: 0.6;
    animation: floatDots 8s infinite ease-in-out;
  }
  
  /* Generate multiple dots at random positions */
  .dot:nth-child(1) { top: 20%; left: 10%; animation-duration: 4s; }
  .dot:nth-child(2) { top: 40%; left: 25%; animation-duration: 6s; }
  .dot:nth-child(3) { top: 60%; left: 15%; animation-duration: 5s; }
  .dot:nth-child(4) { top: 80%; left: 45%; animation-duration: 7s; }
  .dot:nth-child(5) { top: 30%; left: 70%; animation-duration: 4.5s; }
  .dot:nth-child(6) { top: 10%; left: 50%; animation-duration: 6.2s; }
  .dot:nth-child(7) { top: 70%; left: 85%; animation-duration: 5.8s; }
  .dot:nth-child(8) { top: 50%; left: 90%; animation-duration: 6.5s; }
  