@keyframes textWave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animateTextWave {
  background: linear-gradient(45deg, #ff9d00, #ff2d55, #ff9d00);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: textWave 3s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.animateTextWave:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 8px rgba(255, 157, 0, 0.8);
}
